<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "/styles/data.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <title>Prescription Entry</title>
  </head>
  <body>
    <h1>Hello!</h1>

    <h2>Please enter your info</h2>

    <!-- <img id = "wrapper" src="/media/SidewaysPill2.png" alt="pill">
    <img id = "wrapper" src="/media/SidewaysPill1.png" alt="pill">
    <img id = "wrapper" src="/media/SidewaysPill2.png" alt="pill"> -->
<div class ="pillName">
  <img id = "wrapper" src="/media/SidewaysPill1.png" alt="pill">
  <div class="centered"><p>Pill Name&nbsp <input type="text" id="name" name ="text_name" class="mytext"></p>
</div>
</div>
<div class = "notes" >
  <img id = "wrapper" src="/media/SidewaysPill2.png" alt="pill">
  <div class = "centered1"><p>Any Notes&nbsp <input type="text" id="notes" name ="text_name" class="mytext"></p>
</div></div>
<div class = "expiry">
  <img id = "wrapper" src="/media/SidewaysPill1.png" alt="pill">
  <div class = "centered2"><p>Expiry Date&nbsp <input type="text" id="date" name ="text_name" class="mytext"></p>
</div></div>
<div class = "dateTaken">
  <img id = "wrapper" src="/media/SidewaysPill2.png" alt="pill">
  <div class = "centered3"><p>Hour Taken&nbsp <input type="text" id="time" name ="text_name" class="mytext"></p>
</div></div>
  <script src="../scripts/appManager.js"></script>
  </body>

  <div id="button">
    <form method="get" action = "/pillentry">
      <input id="submit_button" value = "Continue" type="submit"><span></span>
    </form>
  </div>
</html>
