<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "/styles/data.css">
    <title></title>
  </head>
  <body>

<p>Enter Your Name<input type="text" id="name"></p>
<p>Enter Any Notes<input type="text" id="notes"></p>
<p>Enter Your Expiry Date<input type="text" id="date"></p>
<p>Enter Your Date Taken<input type="text" id="time"></p>

  <script src="../scripts/appManager.js"></script>
  </body>
  <div id="button">
    <form method="get" action = "/">
       <input id="submit_button" value = "Home" type="submit"><span></span>
    </form>
  </div>
</html>
