<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "/styles/data.css">
      <script src="data.js"></script>
    <title></title>
  </head>
  <body>
    <div id = "name">
      <p>Enter Pill Name:<input id='text'></p>
    </div>
        <span></span>
    <div id = "notes">
      <p>Any Notes:<input id='text'></p>
    </div>
  <div id = "time">
    <p>What <table>
    </table>Time:<input id='number'></p>
  </div>
  <div id = "expirydate">
<p>When does it Expire:<input id='text'></p>
</div>
  </body>
</html>
