<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "/styles/welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <title>
      Homepage
</title>
  </head>
  <body>
    <iframe src="http://free.timeanddate.com/clock/i6lj34u6/n880/fn6/fs39/fcfaf2d8/tct/pct/ftb/ts1" frameborder="0" width="277" height="50" allowTransparency="true"></iframe>
    <p> Take more pills  ! !@  @
    </p>
  </body>
</html>
