<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "/styles/pill.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <title>
      Homepage
</title>

  </head>
  <body onload="startTime()">
    <div id="txt"></div>
    <p> 0 pills missed
    </p>
        <img id = "wrapper" src="/media/SMALLERBIGPILL.png" alt="pill" class="pill-button" onclick="onPillClick()"/>
        <img id = "wrapper" src="/media/logopill.gif" alt="pill">
    <script type="text/javascript">
    function startTime()
    {
    var today=new Date();
    var h=today.getHours();
    var m=today.getMinutes();
    var s=today.getSeconds();
    // add a zero in front of numbers<10
    m=checkTime(m);
    s=checkTime(s);
    document.getElementById('txt').style.color = '#faf2d8'
    document.getElementById('txt').style.fontFamily = 'Neucha'
     document.getElementById('txt').style.fontSize = '150px'
    document.getElementById('txt').innerHTML=h+":"+m;
    t=setTimeout('startTime()',500);
    }
    function checkTime(i)
    {
    if (i<10)
    {
    i="0" + i;
    }
    return i;
    }
    </script>

    <div class "row">
      <div class="column">
        <h2>Pill Name</h2>
        <p id="pillName"></p>
      </div>
      <div class ="column">
        <h2>Note</h2>
        <p id="note"></p>
      </div>
      <div class="column">
        <h2>Expiry</h2>
        <p id="expirydate"></p>
      </div>
    </div>
    <div id ="button">
      <form method="get" action="/">
       <input id="submit_button" style="position:absolute; left:10px; top:10px;" value="Home" type="submit"><span></span>
    </form>
    </div>
    <script src="..\scripts\test.js">
    </script>
    <script>
      document.getElementById('pillName').innerHTML = pillEntry.name;
    </script>
    <script>
      document.getElementById('note').innerHTML = pillEntry.note;
    </script>
    <script>
      document.getElementById('expirydate').innerHTML = pillEntry.expirydate;
    </script>
      <script type="text/javascript">
        function onPillClick() {
          const pillButton = document.getElementsByClassName('pill-button')[0];
          pillButton.style.display = 'none';
          onTakePill(currentTime);

        }
      </script>
  </body>
</html>
