<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "/styles/welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<meta name="google-signin-client_id" content="1054036551086-97sm4pflaa99igbms7pnt1of5eata556.apps.googleusercontent.com">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to</h1>
    <div >
        <p id = "title">MediCAN!</p>
    </div>
    <img id = "wrapper" src="/media/EnterName.png" alt="pill">
    <div id= "name">
    <input type = "text" id="text" name="text_name" class="mytext"/>
  </div>
</p>
  </body>
</html>
