<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "/styles/welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to</h1>
    <div >
        <p id = "title">MediCAN!</p>
    </div>
    <form action="/action_page.php">
Enter name: <input type="text" name="Name" value=""><br>
<input type="submit" value="Submit">
</form>
</p>
  </body>
</html>
