<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href= "/styles/welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to</h1>
    <div >
        <p id = "title">MediCAN!</p>
    </div>
    <div class ="name">
      <img id = "wrapper" src="../media/EnterName.png" alt="">
      <div class="centered"> <input type="text" id="name" name ="text_name" class="mytext">
    </div>
    </div>
    <div id="button">
      <form method="get" action = "/dataentry">
        <input id="submit_button" value = "Submit" type="submit"><span></span>
      </form>
    </div>
  </body>
</html>
