body {
  text-align: center;
  background-color: #123e5b;
  font-family: 'Neucha', cursive;
  color: #abcdcc;
}

h1 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 50px;
  color: #abcdcc;
}

#title {
  font-size: 100px;
  margin-block-end: 0;
  margin-block-start: 0;
  color: #faf2d8;
}

img#wrapper{
  margin-block-end: 0;
  margin-block-start: 0;
  position: relative;
  margin:auto;
  width: 350px;
  padding: 0px;
  text-align: center;
}

img#wrapper1{
  position: relative;
  margin-top: -10vh;
  width: 100px;
  padding: 0px;
  text-align:center;
}

.mytext {
  font-family: 'Neucha', cursive;
  font-size: 50px;
  height: 55px;
  width: 150px;
  background-color: #faf2d8;
  outline-color: #123e5b;
  color: #123e5b;
}

.name {
  position: relative;
  text-align: center;
  color:white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.centered {
  position: relative;
  margin-top: -40vh;
  text-align: center;
}
